*{
    padding: 0;
    margin: 0;
}
body {
    background: url("background-img.webp") no-repeat center center fixed;
    background-size: cover;
    
  }
h1 {
    color: #ffffff;
    text-align: center;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #93A0FE;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

/* .styled-table tbody tr {
    border-bottom: 1px solid #E5606A;
} */

.styled-table tbody tr:nth-of-type(even) {
    background-color: #FFFFFF;
}

.styled-table tbody tr:nth-of-type(odd) {
    background-color: #E4E4E4;
}


/* .styled-table tbody tr:last-of-type {
    border-bottom: 1px solid #009879;
} */

.styled-table tbody tr.active-row {
    font-weight: bold;
    background-color: #009879;
}